/* 기본 스타일 */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* 헤더 스타일 */
header {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box; 
}

header .logo {
  flex: 1;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #013970;
}

/* 햄버거 메뉴 버튼 */
.menu-toggle {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
  padding: 0;
  position: relative;
  right: 10px;
  z-index: 10;
}

/* 햄버거 메뉴 바 스타일 */
.bar {
  width: 25px;
  height: 4px;
  background-color: #333;
}

/* 메뉴 스타일 (기본적으로 숨김) */
.menu {
  position: absolute;
  top: 60px; 
  right: 20px; 
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  z-index: 9;
}

.menu a {
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  text-align: center;
}

.menu a:hover {
  background-color: #f0f0f0;
  color: #013970;
}

/* 메인 콘텐츠 스타일 */
main {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
  width: 100%;
  max-width: 800px;
  height: 80vh;
  padding: 0; 
  box-sizing: border-box;
  gap: 80px; 
  margin: 0 auto;
  cursor: pointer;
}

/* 이미지 섹션 */
main img {
  width: auto;
  height: 60%;
  border-radius: 8px;
}

/* 텍스트 섹션 */
main h2 {
  font-size: 30px;
  color: #333333;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  white-space: nowrap;
}

/* 데스크탑 스타일 (기본) */
@media (min-width: 1025px) {
  main {
    flex-direction: row;
    gap: 80px;
  }

  main img {
    width: auto;
    height: 60%;
  }

  main h2 {
    font-size: 30px;
    text-align: left;
  }
}

/* 태블릿 스타일 */
@media (max-width: 1024px) and (min-width: 769px) {
  main {
    flex-direction: column; 
    gap: 40px; 
    height: 60vh; 
  }

  main img {
    height: 50%;
  }

  main h2 {
    font-size: 28px;
    text-align: center; 
    white-space: normal;
  }
}

/* 모바일 스타일 */
@media (max-width: 768px) {
  header h1 {
    font-size: 20px;
  }

  main {
    flex-direction: column; 
    gap: 20px; 
    height: 50vh; 
  }

  main img {
    height: 40%; 
  }

  main h2 {
    font-size: 24px;
    text-align: center;
    white-space: normal;
  }
}
